* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "TT Commons";
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2rem;

}
.title{
  font-family: 'TT Commons' ;
  font-weight: 900;
  font-size: 3rem;
  color:#06D6A0;
  padding: 1.5rem;

}
.title:hover{
  cursor: pointer;
}
.about{
  padding:3rem ;
  font-size: 1.5rem;
}
.about:hover{
  cursor: pointer;
}
.selector__tarjeta{
  display: flex;
  flex-direction: row;
  padding-left: 3.5rem;
  font-size: 2rem;
}
.selector__bip:hover{
  cursor: pointer;
}
.selector__bip__activo:hover{
  cursor: pointer;
}
.selector__bip__activo{
  /* color: #06D6A0; */
  font-family: 'Bold TT Commons';
}
.selector__tne__activo{
  /* color: #06D6A0; */
  font-family: 'Bold TT Commons';

}
.selector__tne__activo:hover{
  cursor: pointer;
}
.selector__tne:hover{
  cursor: pointer;
}
.page__content{
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bip{
  width: 23rem;
  height: 12.3rem;
  border-radius: 16px;
  background-color: #2D6AB7;
}
.bip__number{
  /* background-color: #FFF; */
}
